.about-me__content {
    hr {
        border: 1px solid $main-red;
        margin: 0;
    }
}
.about-me p {
    font-size: 1.7rem;
    text-align: justify;
    line-height: 2.5rem;
}
.about-me h5 {
    background-color: $main-red;
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal;
}